<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
              rel="stylesheet" media="screen" />

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

        
        <link th:href="@{/css/signin.css}" rel="stylesheet" />

        <title>REGISTER</title>
    </head>
    <body>
        
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">FvPrice-List</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a th:href="@{/login}" href="login">
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <form class="form-signin" th:action="@{/register}" th:object="${account}" 
                  action="/register" method="post">
                
                
                <h2 class="form-signin-heading">Please register</h2>

                <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                    <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username error</div>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
                </div>

                <input type="text" id="inputEmail" name="email" class="form-control top" placeholder="Email" required="required" autofocus="autofocus"/>
                <input type="text" id="inputUser" name="userName" class="form-control middle" placeholder="Username" required="required"/>
                <input type="password" id="inputPassword" name="password" class="form-control bottom" placeholder="Password" required="required"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
        </div>
    </body>
</html>